.root {
  display: grid;
  grid-template-columns:  50% 50%;
  grid-template-rows: max-content max-content;
  align-content: center;
  margin: auto 0;
  height: calc(100vh - 60px);
  min-height: 500px;

  .nameWrapper {
    display: grid;
    grid-template-columns: 40px 1fr;
  }

  .hello {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }

  .name {
    justify-self: start;
    text-transform: uppercase;
    font-weight: 700;
    font-size: clamp(70px, 9vw, 270px);
    padding-right: 30px;
    text-indent: -0.06em;
  }

  .surname {
    text-transform: uppercase;
    font-weight: 700;
    font-size: clamp(70px, 9vw, 270px);
    text-indent: -0.06em;
  }

  .description {
    grid-column-start: 2;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-right: 90px;
  }

  @media (max-width: 1280px) {
    .description {
      font-size: 16px;
      padding-right: 30px;
    }

    .hello {
      font-size: 9px;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 70%;
    grid-template-rows: repeat(4, max-content);
    justify-content: start;

    .hello {
      br {
        display: none;
      }
    }

    .nameWrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: max-content max-content;
    }

    .description {
      grid-column-start: 1;
      grid-row-start: 4;
      font-size: 14px;
    }

    .surname {
      line-height: 69px;
      font-size: clamp(60px, 9vw, 270px);
    }

    .name {
      line-height: 69px;
      justify-self: start;
      font-size: clamp(60px, 9vw, 270px);
    }
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }

}
