:root {
	--color-primary-light: #F9F7F0;
	--color-primary-dark: #2B3B31;
	--color-primary-dark-reverse: #d4c4ce;

	--font-size-XXL: 96px;
	--font-size-XL: 64px;
	--font-size-L: 32px;
	--font-size-M: 24px;
	--font-size-S: 20px;
	--font-size-XS: 16px;

	--line-height-M: 1.5;
	--line-height-S: 0.9;

	--spacing-XXL: 64px;
	--spacing-XL: 32px;
	--spacing-L: 24px;
	--spacing-M: 16px;
	--spacing-S: 8px;
}
