.root {
	display: grid;
	grid-template-rows: max-content max-content;
	grid-template-columns: 1fr;
	margin-bottom: 140px;
	grid-gap: 60px;

	.projectsGrid {
		display: grid;
		grid-auto-flow: row;
		grid-auto-rows: max-content;

		.project {
			display: grid;
			grid-template-rows: max-content;
			grid-template-columns: 25% 1fr max-content;
			align-content: space-between;
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;

			padding: 24px 0;
			box-sizing: border-box;

			transition: background ease 0.3s, color ease 0.3s;

			font-weight: 400;
			font-size: 18px;
			line-height: 24px;

			.title {
				font-weight: 400;
				font-size: 24px;
				line-height: 30px;
				padding-left: 0;
				padding-left: 0;
				transition: padding-left ease 0.3s;
			}

			.certImage {
				width: 60px;
				height: 60px;
				// mix-blend-mode: luminosity;
				transition: padding-left ease 0.3s;
			}

			.smallImage {
				width: 50px;
				height: 50px;
				padding-left: 4px;
			}

			.link {
				color: var(--color-primary-dark);
				justify-self: end;
				text-decoration: none;
				opacity: 0;
				padding-right: 40px;

				.label {
					border-bottom: 1px solid var(--color-primary-light);
				}
			}

			a::before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}

			&:hover {
				color: var(--color-primary-light);
				background: var(--color-primary-dark);

				.certImage {
					padding-left: 40px;
				}

				.link {
					color: var(--color-primary-light);
					opacity: 1;
				}

				.certImage {
					mix-blend-mode: normal;
				}
			}
		}
	}

	@media (max-width: 1280px) {
		margin-bottom: 80px;
		.projectsGrid {
			.project {
				grid-template-rows: max-content;
				grid-template-columns: 25% 1fr max-content;
				align-content: space-between;
				grid-gap: 6px 0;

				font-weight: 400;
				font-size: 16px;
				line-height: 20px;

				.title {
					padding-left: 0;
				}

				.link {
					padding-right: 10px;
					white-space: nowrap;
				}

				&:hover {
					.certImage {
						padding-left: 40px;
					}
				}
			}
		}
	}

	@media (max-width: 768px) {
		margin-bottom: 40px;

		grid-gap: 16px;
		.projectsGrid {
			.project {
				grid-template-rows: max-content max-content max-content;
				grid-template-columns: 1fr max-content;

				font-weight: 400;
				font-size: 14px;
				line-height: 18px;

				.title {
					padding-left: 0;
					grid-row-start: 2;
				}

				.link {
					padding-right: 10px;
					white-space: nowrap;
					grid-row: 2;
				}

				&:hover {
					.certImage {
						padding-left: 0;
					}

					.smallImage {
						padding-left: 4px;
					}
				}
			}
		}
	}
}
